<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
    <%= link_to "<i class='fas fa-2x fa-arrow-left'></i>".html_safe, :back, class: 'mb-3' %>
      <div class="card">
      <a class="navbar-brand auto-center justify-items-center" href="#">Register</a>
        <div class="container position-fixed justify-content-center mt-3">
        <p class="notice"><%= notice %></p>
        <p><%= alert %></p>
            <div class="d-flex mt-6 ">
                <div class="w-100 mt-3">
    
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                
                  <div class="field">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "w-100 py-1" %>
                  </div>
                
                  <div class="field">
                      <%= f.text_field :name, autofocus: true, required: true, autocomplete: "name", class:"form-title", class: "w-100 mt-3 py-1", placeholder:"Full name" %>
                    </div>
                
                  <div class="field">
                    <%= f.password_field :password, autocomplete: "new-password", class: "w-100 mt-3 py-1", placeholder:"password" %>
                  </div>
                
                  <div class="field">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-100 mt-3 py-1", placeholder:"confirm password" %>
                  </div>
                
                  <div class="actions">
                    <%= f.submit "Register", class: "w-100 btn btn-md btn-primary mt-3 mb-3"%>
                  </div>
                <% end %>  
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
