<div class="container-fluid">
  <%= link_to root_path do %>
    <i class="far fa-arrow-left"></i>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "w-100 py-1" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class: "w-100 mt-3 py-1", placeholder:"password" %>
        </div>

        <div class="form-group text-center">
        <%= f.submit "Log in", class: "w-100 btn btn-md btn-primary mt-3 mb-3" %>
        </div>
      <% end %>

      <div class="w-50 auto-center text-center">
      <%= link_to "Forget Password?", new_user_password_path %>
    </div>

    </div>
  </div>
</div>
